@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    /* a cada 1rem será considerado 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

span {
    color: #FCDC8F;
}

p, h1, a, h2 {
    color: #FFF;
}

h1 {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 37px;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3);
}

h2 {
    font-weight: bold;
    font-size: 3.0rem;
    line-height: 37px;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3);
}

/* Navbar */

header {
    background-color: #262626;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 100px;
}

nav {
    display: flex;
    align-items: center;
}

header a.logo {
    font-size: 2.6rem;
    font-weight: bold;
}

header nav .menu {
    height: 100%;
    display: flex;
    align-items: center;
}

header nav .menu li a, header a {
    display: block;
    padding: 25px 30px;
}

header nav .menu li a {
    font-size: 2.0rem;
    border-bottom: 1px solid transparent;
    transition: all .5s;
}

header nav .menu li a:hover {
    background: #303030;
    border-bottom: 1px solid #FCDC8F;
    color: #FCDC8F;
}

.checkbtn {
    display: none;
    color: #FFF;
    cursor: pointer;
    padding: 20px;
}

.checkbtn i {
    font-size: 3.6rem;
}

#check {
    display: none;
}

/* Section Perfil */

section#perfil {
    background-color: #181818;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 100px;
}

section#perfil div.perfil-img img {
    border-radius: 100%;
    width: auto;
    height: 250px;
}

section#perfil div.perfil-info {
    padding: 50px 50px 0;
}

section#perfil div.perfil-info p {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 40px;
}

section#perfil div.perfil-info p:nth-child(3) {
    margin-left: 100px;
}

section#perfil div.perfil-info h1 {
    text-align: center;
    margin-bottom: 35px;
}

/* Section Sobre */

section#sobre {
    background-color: #202020;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 100px;
}

section#sobre div.sobre-info h2 {
    text-align: center;
    margin-bottom: 40px;
}

section#sobre div.sobre-info p {
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    text-align: justify;
    text-indent: 1.5em;
}

section#sobre div.sobre-info p:nth-child(2){
    margin-bottom: 15px;
}


/* Section Projetos */

section#projetos {
    background-color: #181818;
    padding: 80px 100px;
}

section#projetos h2 {
    text-align: center;
    margin-bottom: 40px;
}

section#projetos div.projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

section#projetos div.projetos-container div.projetos-item {
    flex: 1 1 230px;
    height: 250px;
    width: auto;
    background-color: #FCDC8F;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #ffe6ac81;
}

/* Resposive */

@media screen and (max-width: 1082px) {
    /* Section Perfil */
    section#perfil div.perfil-info p {
        text-align: center;
        font-size: 2.4rem;
    }
    section#perfil div.perfil-info h1 {
        font-size: 3.0rem;
    }
    section#perfil div.perfil-info p:nth-child(3) {
        margin: auto;
    }

    /* Section Sobre */
    h2 {
        font-size: 2.8rem;
    }
    section#sobre div.sobre-info p {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 1010px) {
    /* Navbar */
    .checkbtn {
        display: block;
    }
    header nav .menu {
        position: fixed;
        display: block;
        width: 100%;
        height: 100vh;
        background: #262626;
        top: 81.2px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    header nav .menu li {
        margin: 0;
    }
    header nav .menu li a {
        padding: 30px;
        transition: all .5s;
    }
    header nav .menu li a:hover, header nav .menu li a:active {
        background: #303030;
    }
    #check:checked~.menu {
        left: 0;
    }
}

@media screen and (max-width: 810px) {
    /* Navbar */
    header {
        padding: 0px 25px;
    }

    /* Section Sobre */
    section#sobre {
        padding: 50px 20px;
    }

    
    /* Section Projetos */
    section#projetos {
        padding: 50px 15px;
    }
}

@media screen and (max-width: 672px) {
    /* Section Perfil */
    section#perfil {
        padding: 50px 15px;
    }
}

@media screen and (max-width: 502px) {
    /* Section Perfil */
    section#perfil div.perfil-img img {
        width: auto;
        height: 200px;
    }
    section#perfil div.perfil-info p {
        font-size: 2.0rem;
    }
    section#perfil div.perfil-info h1 {
        font-size: 2.8rem;
    }
    section#perfil div.perfil-info {
        padding: 30px 15px 0;
    }

    /* Section Sobre */
    h2 {
        font-size: 2.6rem;
    }
    section#sobre div.sobre-info p {
        font-size: 2.0rem;
    }
}

@media screen and (max-width: 420px) {
    /* Section Perfil */
    section#perfil {
        padding: 50px 0px;
    }
}

@media screen and (max-width: 344px) {
    /* Section Perfil */
    section#perfil div.perfil-info p {
        font-size: 1.8rem;
    }
    section#perfil div.perfil-info h1 {
        font-size: 2.6rem;
    }

    /* Section Sobre */
    h2 {
        font-size: 2.4rem;
    }
    section#sobre div.sobre-info p {
        font-size: 1.8rem;
    }
}